.box {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 100px;
    margin-top: 30px;
    justify-content: space-around;
    border-radius: 5px;
}
.content {
    margin: 20px 0;
    padding: 10px;
}
.content figcaption {
    text-align: center;
    margin-left: 20px;
    font-size: 14px;
    color: white;
    font-style: italic;
    text-transform: capitalize;
    font-variant: small-caps;
    padding-bottom: 10px;
    letter-spacing: 3px;
}
.content img:hover {
    opacity: 0.8;
}
#corpo h2 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
    color: white;
    background-color: black;
    opacity: 0.8;
    padding: 10px;
    letter-spacing: 3px;
    border-radius: 5px;
}
